mat-card{
    width: 250px;
    height: auto;
    margin: 5%; 
}

.center{
    justify-content: center;
}

.cardImage{
    width: 280px;
    height: 100px;
}

mat-card:hover{
    width: 250px;
    height: auto;
}

